<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/RegisterNotification.css' />
    <link rel="icon" href='/images/logo2.gif'>

    <script>
        function resendEmail(){
            window.location.reload()
        }
    </script>
</head>
<body>
<div class="container">
    <div class="mainContent">
        <div class="image-container">
            <img src="/images/bigX.png" alt="Avatar" class="round-image">
        </div>
        <br><br><br>
        <h2>Your account wasn't found in our system</h2>
        <a href = "/register">click here to sign up</a><br>
        <a href = "/recoverpassword">Click here to try again</a>
    </div>
    <div class = "bottomCredits">
        <span class = "bottomCreditsFL">© 2019 Let's Eat LE1.0.0,  All Rights Reserved</span><br>
        <span class = "bottomCreditsSL">	 • powered by NodeJS and Linode 2019</span>
        <span class = "veryBottomCreditTL">By: Brett Tomita, Hayden Matheus, <br>Long Chu, Pamela Regudo, and Jessica Hilario</span>

    </div>
</body>
</html>