<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href='/images/logo2.gif'>
    <title>Welcome, <%=un%></title>
    <link rel="stylesheet" href="/stylesheets/advancedSearch.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function home() {
            window.location.href = "/home";
        }
        // Geolocation
        x = navigator.geolocation;
        x.getCurrentPosition(success, failure);
        var mylat,mylong;
        function success(position) {
            mylat = position.coords.latitude;
            mylong = position.coords.longitude;
            var lat = document.getElementById('lat');
            lat.value = mylat;
            var long = document.getElementById('lng');
            long.value = mylong;
            console.log(mylat);
            console.log(mylong);
        }
        function failure() {
            console.log("It didn't work");
        }
    </script>
</head>
<body>
<div class="wrapper">
    <center><img src="/images/logo2.gif" alt="Logo" class="center logo" onclick="home()"></center><br> <!-- for logo -->
    <div class = "box">
        <div class="topnav">
            <div class="search-container">
<!--              <form>-->
<!--              <h1><center>Advanced Search</center></h1>-->
<!--              <br><center><input type="text" placeholder="In The Mood For... " name="search">-->
<!--              <br><center><input type="text" placeholder="Where? " name="search">              -->
<!--              </form>-->
              
            </div>
            <div class="box">
            <form style = "height:680px;" method="POST" action="/advance" id="advanceSearchForm"> <!--maybe change this-->
                <input id="lat" name="lat" hidden/>
                <input id="lng" name="lng" hidden>
                <div style="float:left;" >
                    <h1 ><center>Cuisine</center></h1>
                    <p align = "left"><input type="checkbox" id="am" name="American">American<br></p>
                    <p align = "left"><input type="checkbox" id="mex" name="Mexican">Mexican<br></p>
                    <p align = "left"><input type="checkbox" id="ja" name="Japanese">Japanese<br></p>
                    <p align = "left"><input type="checkbox" id="ko" name="Korean">Korean<br></p>
                    <p align = "left"><input type="checkbox" id="ch" name="Chinese">Chinese<br></p>
                    <p align = "left"><input type="checkbox" id="ind" name="Indian">Indian<br></p>
                    <p align = "left"><input type="checkbox" id="th" name="Thai">Thai<br></p>
                    <p align = "left"><input type="checkbox" id="med" name="Mediterranean">Mediterranean<br></p>
                    <p align = "left"><input type="checkbox" id="it" name="Italian">Italian<br></p>
                    <p align = "left"><input type="checkbox" id="fr" name="French">French<br></p>
                </div>
                <div style="float:right;">
                    <h1><center>Price Range</center></h1>
                    <p align = "left"><input type="checkbox" id="One" name="one">$<br></p>
                    <p align = "left"><input type="checkbox" id="Two" name="two">$$<br></p>
                    <p align = "left"><input type="checkbox" id="Three" name="three">$$$<br></p>
                    <p align = "left"><input type="checkbox" id="Four" name="four">$$$$<br></p>
                </div>
                <div class="slidecontainer">
                    <h1 style="float:center;   margin-top:420px;">Max Distance</h1>
                    <input type="range" min="1" max="25" value="10" class="slider" id="myRange" name="distance">
                    <p><center>Miles: <span id="demo"></span></center></p>
                </div>
                <div>
                    <br><input type="checkbox" id="open" name="OpenNow" value="Open Now">Open Now
                </div>
                <div >
                    <input style ="margin-top:38px; float:right; color:#ff80d5; font-family:Helvetica; width: 100%; height: 30px; font-size: larger; " type="submit" value="Search"/></center>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>
</html>
