<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href='/images/logo2.gif'>
    <title>Let's Eat Change Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="images/imagesLogin/icons/favicon.ico"/>
    <link rel='stylesheet' href='/stylesheets/signin.css' />
    <script>
        function signup(){
            window.location.href="signup";
        }

        function forgotThePassword(){
            window.location.href="PasswordRecover"
        }
        function CheckValidate(){
            var pass = document.getElementById("first_pass").value;
            var secondPass = document.getElementById("second_pass").value;
            if(pass!=secondPass){
                alert("Please make sure that the password you provided are the same");
                return false;
            }else{
                return true;
            }
        }
    </script>
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <form class="login100-form validate-form flex-sb flex-w" action="changepassword" method="post" onsubmit="return CheckValidate()">
					<span class="login100-form-title p-b-32">
						Reset Password
					</span>
                <span class="txt1 p-b-11">
                    Email/UserName
					</span>
                <span class = "error"><%=text%></span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Username/Email is required">
                    <input class="input100" type="text" name="creds" required>
                    <span class="focus-input100"></span>
                </div>

                <span class="txt1 p-b-11" >
						Enter your password
					</span>
                <div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
                    <input class="input100" type="password" name="pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id = "first_pass" oninvalid="setCustomValidity('Please enter at least 8 characters that contains an upper case letter, a lower case letter and a number')"
                           onchange="try{setCustomValidity('')}catch(e){}" required>
                    <span class="focus-input100"></span>
                </div>

                <span class="txt1 p-b-11" >
						Confirm your password
					</span>
                <div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
                    <input class="input100" type="password" name="passConf" id = "second_pass" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">

                    <input id="SaveAccount"class="login100-form-btn" type="submit" value="Submit"/>

                </div>

            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
<script src="javascripts/LoginJS/main.js"></script>
</body>
</html>