<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href='/images/logo2.gif'>
    <title>Welcome, <%=username%></title>
    <link rel="stylesheet" href="/stylesheets/accountInterface.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function logoff() {
            window.location.href = "/logout";
        }
        function homePage() {
            window.location.href = "/accountInterface";
        }
        function bookmarkPage() {
            window.location.href = "/accountInterface/bookmark";
        }
        function personalInfoPage() {
            window.location.href = "/accountInterface/personalinfo"
        }
        function friendsPage() {
            window.location.href = "/accountInterface/friends";
        }
        function prefPage() {
            window.location.href = "/accountInterface/preferences";
        }
    </script>
</head>

<body>

<div class="wrapper">

<div class="FriendsModal">
    <span>FRIENDS</span>
    <!---Formats the friends information box--->
    <form method="POST" action="/registerUser"> <!--maybe change this-->
        <div class="box">
            <h1><center>Friends</center></h1>
            <center>
                <ul style="list-style-type:none;">
                    <li>Friend 1 - City, State</li>
                    <li>Friend 2 - City, State</li>
                    <li>Friend 3 - City, State</li>
                </ul>
            </center>
        </div>

        <div class="search-container"><center>
                <form action="/action_page.php">
                    <input type="text" placeholder="Search for Friends.." name="search">
                    <button type="submit">Search</button>
                </form></center>
        </div>
    </form>
</div>

    <div class="sidenav">
        <a href="/accountInterface">Home</a>
        <a href="/accountInterface/personalinfo">Personal Info</a>
        <a href="/accountInterface/friends" class="active">Friends</a>
        <a href="/accountInterface/preferences">Preferences</a>
        <a href="/accountInterface/bookmark">Bookmarks</a>
        <a href="/logout">Logout</a>
    </div>
</div>
</body>
</html>
