<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href='/images/logo2.gif'>
    	<!---Title of webpage--->   
        <title>Let's Eat</title>
        
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel='stylesheet'  href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css'>
    	<link rel='stylesheet' href='/stylesheets/helpPage.css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	
    <script>
        // Functions
        function yelpSite() {
            window.open('https://www.yelp.com/');
        }
        function loginSec() {
            window.location.href = "/login";
        }
        function signUpSec() {
            window.location.href = "/register";
        }
        function aboutUsSec() {
            window.location.href = "/aboutUs";
        }
        function home() {
            window.location.href = "/home";
        }
		function account() {
			window.location.href = '/accountInterface';
		}
		function logoff() {
			window.location.href = '/logout';
		}
		function advancedSearch() {
			window.location.href = '/advancedSearch';
		}
        // ajax
        $("#inpt_search").on('focus', function () {
            $(this).parent('label').addClass('active');
        });
        $("#inpt_search").on('blur', function () {
            if($(this).val().length == 0)
                $(this).parent('label').removeClass('active');
        });
    </script>
    

    </head>
    
    <script data-main="scripts/yelp" src="scripts/require.js">
	    	var x = document.getElementById("search")
		    yelpSearch(x)
	</script>
    	
    <body>
	<div class = "top">
			<div class="top_image">
				<img src="/images/logo2.gif" alt="Avatar" class = "round-image" onclick = "home()">
			</div>
	<!--        <div id="searchBarContainer">-->
	<!--            <form>-->
	<!--                <input class="searchBar" type="search" name="search" placeholder="Deliciousness is just a click away.....">-->
	<!--            </form>-->
	<!--        </div>-->
		<%if(un!=null){%>
			<div class="dropdown">
				<button class="dropbtn"><i class="fa fa-user-circle-o fa-3x" aria-hidden="false"></i>
				</button>
				<div class="dropdown-content">
					<p style="font-size: large; margin-top: 15px; margin-bottom: 0px">Hello, <%=un%></p>
					<li onclick="account()">My Account</li>
					<li onclick = "groupVoteSec()">Group Vote</li>
					<li onclick = "advancedSearch()">Advanced Search</li>
					<li onclick="aboutUsSec()">About Us</li>
					<li onclick="helpSec()">Help</li>
					<li onclick="yelpSite()">Yelp</li>
					<li onclick="logoff()">Log Out</li>
				</div>
			</div>
		<%}else{%>
			<div class="dropdown">
				<button class="dropbtn"><i class="fa fa-user-circle-o fa-3x" aria-hidden="false"></i>
				</button>
				<div class="dropdown-content">
					<li onclick="loginSec()">Log In</li>
					<li onclick = "signUpSec()">Sign Up</li>
					<li onclick = "advancedSearch()">Advanced Search</li>
					<li onclick="aboutUsSec()">About Us</li>
					<li onclick="helpSec()">Help</li>
					<li onclick="yelpSite()">Yelp</li>
				</div>
			</div>
		<%}%>
		</div>
    	
    	<!---Page name--->
        <h1><font size="6">Hey, I Need Help!</font></h1>
    	
    	<!---Frequently Asked Questions--->
    	<div class="faq">
			<p><font color="red">Can I change my username?</font>
    		<br>Yes! First, navigate to...</p>
    		<p><font color="red">Can I change the email associated with my account?</font>
    		<br>Yes! First, navigate to...</p>
    		<p><font color="red">I forgot my password, how do I reset it?</font>
    		<br>Select Account Management on the top right...</p>
    		<p><font color="red">Can I order food through your website?</font>
    		<br>To be added...</br>
			<p><font color="red">How do I add friends?</font>
    		<br>To be added...</p>
			<p><font color="red">How can I unfriend or block someone?</font>
    		<br>To be added...</p>
			<p><font color="red">Can businesses advertise on the website?</font>
    		<br>Businesses can choose to advertise their businesses on the app, 
    		<br>however we will not share any of your information with them <br></p>
			<p><font color="red">I have an existing Yelp! account, can I use it here?</font>
    		<br>To be added...</p>
		</div>
		
		<h2>Contact Us!</h2>
		<p>Email us at lets_eat@gmail.com if you have a question not listed above.</p>
		
		<div class = "bottomCredits">
    		<span class = "bottomCreditsFL">© 2019 Let's Eat LE1.0.0,  All Rights Reserved</span><br>
    		<span class = "bottomCreditsSL">	 • powered by NodeJS and Linode 2019</span>
    		<span class = "veryBottomCreditTL">By: Brett Tomita, Hayden Matheus, <br>Long Chu, Pamela Regudo, and Jessica Hilario</span>

		</div>
    </body>
</html>

