<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!--- Website/tab title --->
  <title>Welcome to Let's Eat!</title>
  <link rel='stylesheet' href='/stylesheets/indexPage.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    function mainPage() {
      window.location.href = '/home';
    }
  </script>
</head>
<body>
  <h1><center>
      <img onclick="mainPage()"
           src="./images/logo2.gif"
           alt="Let's Eat Logo">
      <p>Welcome to Let's Eat! <br>Continue forward to deliciousness.</p>

    </center>
  </h1>
  <%console.log(cafeList)%>
  <div class = "bottomCredits">
    <span class = "bottomCreditsFL">© 2019 Let's Eat LE1.0.0,  All Rights Reserved</span><br>
    <span class = "bottomCreditsSL">	 • powered by Let's Eat 2019</span>
    <span class = "veryBottomCreditTL">By: Brett Tomita, Hayden Matheus, <br>Long Chu, Pamela Regudo, and Jessica Hilario</span>

  </div>
</body>
</html>
