<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="'stylesheet" href="/stylesheets/map.css">
    <link rel="icon" href='/images/logo2.gif'>
    <title>Directions</title>
</head>
<body>
<div id="right-panel"></div>
<div id="map"></div>
<script>
    x = navigator.geolocation;
    x.getCurrentPosition(success, failure);
    var mylat,mylong;
    function success(position) {
        mylat = position.coords.latitude;
        mylong = position.coords.longitude;

        console.log(mylat);
        console.log(mylong);
    }
    function failure() {
        console.log("It didn't work");
    }
    function initMap() {
        var directionsRenderer = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        // var lat = $('#lat').attr('name');
        // var lng = $('#long').attr('name');
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: {lat: ((<%=resloc.lat%>+mylat)/2), lng: ((<%=resloc.long%>+mylong)/2)}
        });
        directionsRenderer.setMap(map);
        directionsRenderer.setPanel(document.getElementById('right-panel'));

        // var control = document.getElementById('floating-panel');
        // control.style.display = 'block';
        // map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);

        // var onChangeHandler = function() {
            calculateAndDisplayRoute(directionsService, directionsRenderer);
        // };
        // document.getElementById('start').addEventListener('change', onChangeHandler);
        // document.getElementById('end').addEventListener('change', onChangeHandler);
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        var start = {lat: mylat, lng: mylong};
        var end = {lat: <%=resloc.lat%>, lng: <%=resloc.long%>};
        directionsService.route({
            origin: start,
            destination: end,
            travelMode: 'DRIVING'
        }, function(response, status) {
            if (status === 'OK') {
                directionsRenderer.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApKBreU4wt1M8_x0wa5wHmYCt5MNHMum4
&callback=initMap">
</script>
</body>
</html>


