<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="'stylesheet" href="/stylesheets/map.css">
    <link rel="icon" href='/images/logo2.gif'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Directions</title>
</head>
<body>
<div id="right-panel"></div>
<div id="map"></div>
<input id="lat" name="<%=resloc.lat%>" hidden/>
<input id="lng" name="<%=resloc.long%>" hidden/>
<script>
    x = navigator.geolocation;
    x.getCurrentPosition(success, failure);
    var mylat,mylong;
    function success(position) {
        mylat = position.coords.latitude;
        mylong = position.coords.longitude;

        console.log(mylat);
        console.log(mylong);
    }
    function failure() {
        console.log("It didn't work");
    }
    function initMap() {
        var directionsRenderer = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: {lat: ((<%=resloc.lat%>+mylat)/2), lng: ((<%=resloc.long%>+mylong)/2)}
        });
        directionsRenderer.setMap(map);
        directionsRenderer.setPanel(document.getElementById('right-panel'));
        calculateAndDisplayRoute(directionsService, directionsRenderer);
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        var lat = parseFloat($('#lat').attr('name'));
        var lng = parseFloat($('#lng').attr('name'));
        console.log(typeof lat);
        var start = {lat: mylat, lng: mylong};
        var end = {lat: lat, lng: lng};
        directionsService.route({
            origin: start,
            destination: end,
            travelMode: 'DRIVING'
        }, function(response, status) {
            if (status === 'OK') {
                directionsRenderer.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApKBreU4wt1M8_x0wa5wHmYCt5MNHMum4
&callback=initMap">
</script>
</body>
</html>


