<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/signin.css'>
    <link rel="icon" href='/images/logo2.gif'>

    <!---Title of webpage-->
    <title>Let's Eat Login</title>
    <script>
        function login() {
            window.location.href = "/login";
        }
        function home() {
            window.location.href="/home";
        }
    </script>
    <script src="javascripts/LoginJS/main.js"></script>
</head>

<body>
<div class="limiter">
    <!---Makes logo clickable, redirects to defaultPage.html--->

    <img onclick="home()"
         src="/images/logo2.gif"
         alt="Let's Eat Logo">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <form class="login100-form validate-form flex-sb flex-w" action="checkEmailandAnswer" method="post">
                <div class = "topWelcome">
					<span class="login100-form-title">
						Trying with
					</span>
                    <span class = "loginText"><%=useremail%></span>
                </div>
                <span class="txt1 p-b-11">
                    <%=secq%>
					</span>
                <span class = "error"><%=text%></span>

                <div class="wrap-input100 validate-input m-b-12">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
                    <input class="input100" type="text" name="guessedAnswer" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="flex-sb-m w-full p-b-48">
                    <div>
                        <li class="txt3" onclick="login()">
                            Login
                        </li>
                        <li class="txt3" onclick="signUp()">
                            First time? Sign up
                        </li>
                    </div>
                </div>
                <div class="container-login100-form-btn">
                    <input id="SaveAccount" class="login100-form-btn" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>