<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/RegisterNotification.css' />
    <link rel="icon" href='/images/logo2.gif'>

</head>
<body>


<div class="container">


    <div class="mainContent">
        <div class="image-container">
            <img src="/images/logo2.gif" alt="Avatar" class="round-image">
        </div>
        <br><br><br>
        <h1>Request link sent to your mail box!</h1>
        <h2>Please click the link provided in the email to start the next step. </h2>
    </div>


</body>
</html>