<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href='/images/logo2.gif'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/signin.css'>

    <!---Title of webpage-->
    <title>Let's Eat Recover Password</title>
    <script>
        function signUp() {
            window.location.href = "/register";
        }
        function home() {
            window.location.href="/home";
        }
        function forgotThePassword() {
            window.location.href="/recoverpassword"
        }
        $(document).ready(function() {
           $(.)
        });
    </script>
    <script src="javascripts/LoginJS/main.js"></script>
</head>
<body>
<div class="limiter">
    <!---Makes logo clickable, redirects to defaultPage.html--->

    <img onclick="home()"
         src="/images/logo2.gif"
         alt="Let's Eat Logo">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form class="login100-form validate-form flex-sb flex-w" action="FindPasswordEmail" method="post">
                <span class="login100-form-title p-b-32">
						Change Password using Email
					</span>
                <span class="txt1 p-b-11">
                    Email
					</span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Enter email or username">
                    <input class="input100" type="text" name="email">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <input id="SaveAccountEmail"class="login100-form-btn" type="submit" value="Submit"/>
                </div>
            </form>
            <span class="sep">OR</span>
            <form class="login100-form validate-form flex-sb flex-w" action="FindPasswordUsername" method="post">
            <span class="login100-form-title p-b-32">
						Change Password using Username
					</span>
            <span class="txt1 p-b-11">
                    Username
					</span>
            <div class="wrap-input100 validate-input m-b-36" data-validate = "Enter email or username">
                <input class="input100" type="text" name="username">
                <span class="focus-input100"></span>
            </div>
            <div class="container-login100-form-btn">
                <input id="SaveAccountUsername"class="login100-form-btn" type="submit" value="Submit"/>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>