<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="icon" href='/images/logo2.gif'>

    <link rel='stylesheet' href='/stylesheets/RegisterNotification.css' />
</head>
<body>


<div class="container">


    <div class="mainContent">
        <div class="image-container">
        <img src="/images/logo2.gif" alt="Avatar" class="round-image">
    </div>
        <br><br><br>
        <h1>Congratulations!</h1>
        <h2><%=fName%>, You are now Registered!</h2>
        <a href = "/login">Click here to login</a>
    </div>

</div>
</body>
</html>