<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/verifyEmailForRegister.css' />
    <link rel="icon" href='/images/logo2.gif'>

    <script>
        function resendEmail(){
            window.location.href = "/home";
        }
    </script>
</head>
<body>


<div class="container">


    <div class="mainContent">
        <div class="image-container">
            <img src="/images/logo2.gif" alt="Avatar" class="round-image">
        </div>
        <br><br><br>

        <h2><%=Name%> An email is sent to your account, please verify with the link provided</h2>
        <h3>It will take 1-5 mins. If you can't find the email, check your junk mailbox or promotion mailbox</h3>

        <input type="button" value="Click here to go back to the main page" onclick="resendEmail()" class="refresh"></div>
</div>


</body>
</html>