<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='/images/logo2.gif'>

    <!---Title of webpage--->
    <title><%=title%> <%=searchTerm%></title>
    <link rel='stylesheet'  href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/yelpSearchPage.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--    <script src="http://maps.googleapis.com/maps/api/js"></script>-->
    <script>
        var restaurant;
        function newRestaurant() {
            $.ajax({
                type: "GET",
                url: "/requestRest",
                success: function(result){
                    if (result.text !== "Do new Search") {
                        restaurant = result.text;
                        $('.restName').html(restaurant.name);
                        $('.imageBox').css("background-image","url('"+restaurant.image_url+"')");
                        if (restaurant.price) {
                            $('.restPriceandRating').html("Price: "+restaurant.price + " Rating: " + restaurant.rating);
                        } else {
                            $('.restPriceandRating').html("Price Not Given Rating:" + restaurant.rating);
                        }
                        if (restaurant.is_closed === false) {
                            $('.isClosed').html("Open");
                            $('.isClosed').css('color','green');
                        } else {
                            $('.isClosed').html("Closed");
                            $('.isClosed').css('color','red');
                        }
                        for (var i = 0; i < restaurant.transactions.length; i++) {
                            if (restaurant.transactions[i] === 'delivery') {
                                $('.restTransDe').css('text-decoration','none');
                            }
                            if (restaurant.transactions[i] === 'pickup') {
                                $('.restTransPi').css('text-decoration','none');
                            }
                        }
                        $('.restPhone').html(restaurant.display_phone);
                        if (restaurant.location.display_address.length === 2) {
                            $('.restLocation').html(restaurant.location.display_address[0] + "<br/>" + restaurant.location.display_address[1]);
                        } else {
                            $('.restLocation').html(restaurant.location.display_address[0] + "<br/>" + restaurant.location.display_address[1] + "<br/>" + restaurant.location.display_address[2]);
                        }
                    }
                    else {
                        console.log('End of list');
                        $('.refreshButton').attr('disable', true);
                        $('.refreshButton').attr('value','Do New Search')
                        $('.restEle').html('Do new Search');
                    }
                },
                error: function(e) {
                    console.log("ERROR: ",e);
                }
            });
        }

        newRestaurant();

        var reslat,reslng;
        // Functions
        function yelpSite() {
            window.open('https://www.yelp.com/');
        }
        function loginSec() {
            window.location.href = "/login";
        }
        function signUpSec() {
            window.location.href = "/register";
        }
        function aboutUsSec() {
            window.location.href = "/aboutUs";
        }
        function home() {
            window.location.href = "/home";
        }
        function helpSec() {
            window.location.href = "/help";
        }
        function account() {
            window.location.href = '/accountInterface';
        }
        function logoff() {
            window.location.href = '/logout';
        }
        function directYelp() {
            window.location.href = restaurant.url;
        }
        var directionsService, directionsRenderer, map, startMarker, endMarker,poss;
        function initMap() {
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Current Location');
                    infoWindow.open(map);
                    map.setCenter(pos);

                    poss = {
                        lat: restaurant.coordinates.latitude,
                        lng: restaurant.coordinates.longitude
                    }

                    endMarker = new google.maps.Marker({position: poss, map: map});
                    startMarker = new google.maps.Marker({position: pos, map: map});
                }, function() {
                    console.log("Error");
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
                directionsRenderer.setMap(map);

                calculateAndDisplayRoute();
        }

        function calculateAndDisplayRoute() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    startMarker.setMap(null);
                    endMarker.setMap(null);
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    directionsService.route(
                        {
                            origin: {
                                lat: pos.lat,
                                lng: pos.lng
                            },
                            destination: {
                                lat: restaurant.coordinates.latitude,
                                lng: restaurant.coordinates.longitude
                            },
                            travelMode: 'DRIVING'
                        },
                        function(response, status) {
                            if (status === 'OK') {
                                directionsRenderer.setDirections(response);
                            } else {
                                window.alert('Directions request failed due to ' + status);
                            }
                        });
                }, function() {
                    console.log("Error");
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
</head>
<body> <!--onload="initMap()">-->
    <div class="wrapper">
        <div class = "top">
            <div class="top_image">
                <img src="/images/logo2.gif" alt="Avatar" class = "round-image" onclick = "home()">
            </div>
            <!--        <div id="searchBarContainer">-->
            <!--            <form>-->
            <!--                <input class="searchBar" type="search" name="search" placeholder="Deliciousness is just a click away.....">-->
            <!--            </form>-->
            <!--        </div>-->
            <%if(un!=null){%>
                <div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-user-circle-o fa-3x" aria-hidden="false"></i>
                    </button>
                    <div class="dropdown-content">
                        <p style="font-size: large; margin-top: 15px; margin-bottom: 0px">Hello, <%=un%></p>
                        <li onclick="account()">My Account</li>
                        <li onclick = "groupVoteSec()">Group Vote</li>
                        <li onclick = "advancedSearch()">Advanced Search</li>
                        <li onclick="aboutUsSec()">About Us</li>
                        <li onclick="helpSec()">Help</li>
                        <li onclick="yelpSite()">Yelp</li>
                        <li onclick="logoff()">Log Out</li>
                    </div>
                </div>
            <%}else{%>
                <div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-user-circle-o fa-3x" aria-hidden="false"></i>
                    </button>
                    <div class="dropdown-content">
                        <li onclick="loginSec()">Log In</li>
                        <li onclick = "signUpSec()">Sign Up</li>
                        <li onclick = "advancedSearch()">Advanced Search</li>
                        <li onclick="aboutUsSec()">About Us</li>
                        <li onclick="helpSec()">Help</li>
                        <li onclick="yelpSite()">Yelp</li>
                    </div>
                </div>
            <%}%>
        </div>
        <div class="container">
            <div class="restaurantListContainer" id="restCon">
                <div class="restEle">
                    <div class="imageBox" id="imageBox"></div>
                    <div class="nameandclosedContainer">
                        <span class="restName" id="restName"></span><span class="isClosed"></span>
                    </div>
                    <div class="pranrdaContainer">
                        <span class="restPriceandRating"></span>
                    </div>
                    <span class="restTransDe">Delivery</span><span class="restTransPi">Pick Up</span>
                    <span class="restLocation"></span><span class="restPhone"></span>
<!--                    <span class="restDirections">Get Directions</span>-->
                    <span class="restYelp" onclick="directYelp()">Yelp Page</span>
<!--                    <div class="mapcontainer">-->
                        <div id="map"></div>
<!--                    </div>-->
                </div>

            </div>
            <div class="refreshContainer">
                <input type="button" value="New Restaurant" class ="refreshButton" id="refresh" onclick="newRestaurant()">
            </div>

            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApKBreU4wt1M8_x0wa5wHmYCt5MNHMum4
&callback=initMap">
            </script>
        </div>
    </div>

</body>
</html>