
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
form {
    margin: 0 auto;
    width: 270px;
    padding: 1em;
}
input {
    /*font: 1.5em sans-serif;*/
    outline: none;
    border: none;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:30%;
    max-height:30%;
}
body {
    position: cover;
    background-image: url("/images/signin.jpg");
    height: 100%;
    background-repeat: no-repeat; /* image is small so does not repeat */
    background-attachment: scroll; /*scroll with cursor*/
    background-size: cover; /* fits screen */
}
iframe {
    border: none !important;
}
button {
    outline: none !important;
    border: none;
    background: transparent;
}
img:hover {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}
label {
    display: block;
    margin: 0;
}
ul, li {
    margin: 0px;
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}
textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}



textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

.limiter {
    width: 100%;
    margin: 0 auto;

}
.container-login100 {
    width: 100%;
    min-height: 70vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*padding: 15px;*/
    padding-top: 0;
    background-color: transparent;
}
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
}
.wrap-login100 {
    width: 560px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}
@media (max-width: 576px) {
    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.p-l-85 {padding-left: 85px;}
.p-r-85 {padding-right: 85px;}
.p-t-55 {padding-top: 55px;}
.p-b-55 {padding-bottom: 55px;}
.p-b-11 {padding-bottom: 11px;}
.p-b-48 {padding-bottom: 48px;}
.m-b-36 {margin-bottom: 36px;}
.m-b-12 {margin-bottom: 12px;}
.w-full {width: 100%;}
.login100-form {
    width: 100%;
}

.login100-form-title {
    font-family: Arial;
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;

    width: 1000px;
    display: block;
}

.topWelcome{
    margin-bottom:20px;
    margin-left:120px;
    height:50px;
}

.loginText{
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 40px;
    font-size: 14px;
    width:100%;
    background:none;
}
.txt1 {
    font-family: Arial;
    font-size: 13px;
    color: #555555;
    line-height: 1.4;
    text-transform: uppercase;
    float:left;
    margin-top:20px;
}
.txt3 {
    font-family: Arial;
    font-size: 13px;
    color: #555555;
    line-height: 1.4;
}
.error{
    margin-top:20px;
    font-size:12px;
    color:red;
}
.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}


/*---------------------------------------------*/
.input100 {
    font-family: Arial;
    color: #555555;
    line-height: 1.2;
    font-size: 18px;

    display: block;
    width: 100%;
    background: transparent;
    height: 55px;
    padding: 0 25px 0 25px;
}
.validate-input {
    position: relative;
}
.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #57b846;
    border-radius: 3px;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.btn-show-pass {
    font-size: 15px;
    color: #999999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 12px;
    padding: 0 5px;
    cursor: pointer;
    -webkit-transition: background 0.4s;
    -o-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
}

.btn-show-pass:hover {
    color: #57b846;
}

.btn-show-pass.active {
    color: #57b846;
}
.flex-sb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.flex-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
}
.login100-form-btn {
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    background-color: #333333;
    border-radius: 27px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: #57b846;
}