html, body {
    margin: 0;
    background-image: url('/images/accmgmt.jpg');
    background-repeat: no-repeat; /* image is small so does not repeat */
    background-size: cover;
    height: 100%;
    font-family: Helvetica;
    paddng: 0;
}
.wrapper {
    width: 100%;
    height:100%;
    margin: 0 auto;
    position: cover;
}
/* Style the topnav bar */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 10%; opacity: 1}
}
.top{
    margin: 0;
    width:100%;
    height: 55px;
    background-color: #333;
}
/* Image start */
.top_image {
    background:none;
    width:75px;
    height: 55px;
    cursor:pointer;
}
img {
    margin-left: 10px;
    max-width:75px;
    max-height:55px;
}
/* Image end */
/* Search bar start */
.searchBar {
    background-image: url('/images/searchicon.png');
    background-size: 12px;
    background-position-y: center;
    background-position-x: center;
    position: absolute;
    left:80px;
    top:8px;
    text-align: center;
    float: left;
    margin-top: 3px;
    margin-left: 500px;
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 3px 20px 3px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.searchBarSubmit {
    position: absolute;
    left:80px;
    top:8px;
    text-align: center;
    float: left;
    margin-top: 3px;
    margin-left: 500px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

/* Search bar end */
/* Dropdown start*/
.fa-user-circle-o {
    border-radius: 22px;
    background: #adadad;
}
.dropdown {
    background: none;
    text-align: center;
    margin-top: 5px;
    top:0;
    right:0;
    position: absolute;
    display: inline-block;
}
.dropbtn {
    margin-right: 10px;
    border: none;
    background: none;
    cursor: pointer;
}
.dropdown-content {
    font-size: 14px;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content li:hover {
    background-color: #f14c42;
    cursor: pointer;
}
.dropdown:hover .dropdown-content {display: block;}
/* Dropdown end*/
/* Content Area start */
/* Side area start */
.sideModify {
    position: absolute;
    left: 0;
    background: #fff;
    max-width: 200px;
    margin: 30px auto;
    padding: 20px 20px;
    border-radius: 20px; /*10px 120px 10px 10px*/
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.modifyHeader {
    padding: 5px;
    background: #f6f6f6;
    font-size: 18px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}
/* Side area end */
/* restaurant list start */
.restaurantListContainer {
    background: #fff;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px 20px;
    border-radius: 20px; /*10px 120px 10px 10px*/
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.restaurant-list {
    list-style-type: none;
    padding: 0;
}
.restEle {
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 500px;
}
/*.restEle:nth-child(even){*/
/*    padding: 20px;*/
/*    background: #f2f2f2;*/
/*}*/
.restEle span {
    didsplay: block;
}
/*.restEle span:nth-child(2){*/
/*    font-size: 16px;*/
/*    margin-top: 6px;*/
/*    color: #999;*/
/*}*/
li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}
.restTransDe, .restTransPi {
    text-decoration: line-through;
}
.restYelp, .restDirections {
    text-decoration: underline;
}
.restYelp:hover, .restDirections:hover {
    background: #e6e6e6;
}
/* restaurant list end */
.nameandclosedContainer{
    height: 50px;
    width: 900px;
}
.isClosed {
    margin-left: 40px;
}
.bookmark {
    position: fixed;
    top: 14%;
    right: 20%;
}
.bookmark:hover {
    cursor: pointer;
}
/* Content Area end */
.imageBox {
    height: 30%;
    width: 25%;
    background-size: 100%;
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    position: absolute;
    left: 35%;
    margin-top: 5%;
}
.restName {
    margin-left: 40%;
    width: 30%;
    height: 30%;
    font-size: 30px;
}
.contentContainer {
    margin-top: 15%;
}
.pranrdaContainer {
    position: fixed;
    left: 40%;
    margin-top: 3%;
    width: 400px;
}
.restPrice {
    position: absolute;
}
.restRating {
    position: absolute;
    left: 40%;
}
.deandpiContainer {
    position: fixed;
    left: 40%;
    margin-top: 5%;
    width: 400px;
}
.restTransDe {
    position: absolute;

}
.restTransPi {
    position: absolute;
    left: 40%;
}
.locandphoneContainer {
    position: fixed;
    left: 40%;
    margin-top: 7%;
    width: 400px;
    height: 400px;
}
.restLocation {
    position: absolute;
    top: 8%;
}
.restPhone {
    position: absolute;
}
.dirandyelpContainer {
    position: fixed;
    left: 40%;
    margin-top: 15%;
    width: 400px;
    height: 400px;
}
.restDirections {
    position: absolute;
    /*left: 40%;*/
    /*margin-top: 15%;*/
    text-decoration: underline;
}
.restDirections:hover {
    color: #dbc8a7;
    cursor: pointer;
}
.restYelp {
    position: absolute;
    left: 40%;
    /*margin-top: 15%;*/
    text-decoration: underline;
}
.restYelp:hover {
    color: #dbc8a7;
    cursor: pointer;
}
.refreshButton {
    position: fixed;
    bottom: 25%;
    left: 45%;
}